/* CSS PARTE 1: COMENTAR Y DESCOMENTAR */
/* #images{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
} */

/* CSS PARTE 2: COMENTAR Y DESCOMENTAR */
/* h1{
    text-align: center;
    font-size: 40px;
};

#cajaImagenes{
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.cityImg{
    display: block;
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
}

h2{
    text-align: center;
}

#transportImg{
    display: block;
    width: 70%;
    margin: auto;
} */
